body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  padding: 1em;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header * {
  vertical-align: middle;
  display: inline-block;
}
h1 {
  margin: auto;
  padding-left: 1em;
}
textarea {
  border: 3px double #abc;
  border-radius: 4px;
  width: 100%;
  height: 30em;
  margin: auto;
  display: block;
  background: #cde;
  padding: 0.5em;
}

.App .App-main form,
header {
  padding: 1em;
}
.App .App-main form > p,
.App .App-main form > div {
  padding: 1em;
  background: #eee;
  border-top: 1px solid #aaa;
}