body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  padding: 1em;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header * {
  vertical-align: middle;
  display: inline-block;
}
h1 {
  margin: auto;
  padding-left: 1em;
}
textarea {
  border: 3px double #abc;
  border-radius: 4px;
  width: 100%;
  height: 25em;
  margin: auto;
  display: block;
  background: #0C322C;
  padding: 1em;
  color: #e0e0e0;
  font-size: 1.1em;
}

.App .App-main form,
header {
  padding: 1em;
}
.App .App-main form > p,
.App .App-main form > div {
  padding: 1em;
  background: #eee;
  border-top: 1px solid #aaa;
}

ul {
  list-style: none;
}
ul li {
  line-height: 1.5em;
  padding: 0.5em;
}

.App .App-main form ul.level-1 {
  border-bottom: 1px solid #ddd;
}
.App .App-main form ul.level-1 ul.level-2 li.level-2-element:nth-child(2n) {
  background-color: #ddd;
}